.img {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px 50px;
  }
  
  .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .product img {
  width: 350px;
  }
  
  .product .description {
  text-align: center;
  }
  
  .product .description p {
  margin: 5px;
  }
  
  .product img:hover {
  transition: 0.9s ease-in;
  cursor: pointer; 
  width: 370px;
  height: 370px;
  }
  
  .addToCartBtn {
  margin: 5px 0 30px 0;
  background-color: transparent;
  border: 2px solid #131313;
  max-width: 125px;
  padding: 5px 10px;
  border-radius: 15px;
  }
  
  .addToCartBtn:hover {
  background-color: rgb(19, 19, 19);
  color: #fff;
  cursor: pointer;
  }